# Pandas

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Print Pandas version

In [3]:
print(pd.__version__)

2.2.3

In [4]:
A = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

Call the values

In [5]:
A.values

array([0.25, 0.5 , 0.75, 1.  ])

Call the index

In [6]:
A.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Pandas uses NumPy

In [7]:
type(A.values)

numpy.ndarray

Access a value using the index

In [8]:
A['c']

np.float64(0.75)

### Slicing

In [9]:
A['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [10]:
grades_dict = {'A': 4,'A-': 3.5,'B': 3,'B-': 2.5,'B': 2}
grades = pd.Series(grades_dict)

In [11]:
grades

A     4.0
A-    3.5
B     2.0
B-    2.5
dtype: float64

In [12]:
marks_dict = {'A': 85,'A-':80,'B':75,'B-':70,'B': 65}
marks = pd.Series(marks_dict)

In [13]:
marks

A     85
A-    80
B     65
B-    70
dtype: int64

# Dataflare

In [14]:
marks

A     85
A-    80
B     65
B-    70
dtype: int64

In [15]:
grades

A     4.0
A-    3.5
B     2.0
B-    2.5
dtype: float64

In [29]:
D = pd.DataFrame({'marks': marks, 'grades': grades})
D

    marks  grades
A      85     4.0
A-     80     3.5
B      65     2.0
B-     70     2.5

transpose dataframe

In [17]:
D.T

           A    A-     B    B-
marks   85.0  80.0  65.0  70.0
grades   4.0   3.5   2.0   2.5

In [18]:
D

    marks  grades
A      85     4.0
A-     80     3.5
B      65     2.0
B-     70     2.5

In [19]:
D.values

array([[85. ,  4. ],
       [80. ,  3.5],
       [65. ,  2. ],
       [70. ,  2.5]])

Accessing specific values of the data frame.

In [20]:
D.values[2,0]

np.float64(65.0)

In [21]:
D.columns

Index(['marks', 'grades'], dtype='object')

In [22]:
D.index

Index(['A', 'A-', 'B', 'B-'], dtype='object')

Adding another column

In [23]:
D

    marks  grades
A      85     4.0
A-     80     3.5
B      65     2.0
B-     70     2.5

In [24]:
D['ScaledMarks'] = D['marks'] / 10
D

    marks  grades  ScaledMarks
A      85     4.0          8.5
A-     80     3.5          8.0
B      65     2.0          6.5
B-     70     2.5          7.0

Deleting a column

In [25]:
del D['ScaledMarks']
D

    marks  grades
A      85     4.0
A-     80     3.5
B      65     2.0
B-     70     2.5

### Pandas (Indexing)

In [26]:
G = D[D['marks'] > 70]
G

    marks  grades
A      85     4.0
A-     80     3.5

### Pandas (NaN)

In [38]:
A = pd.DataFrame([{'a': 1, 'b': 2},{'b':3, 'C':4}, {'a': 5, 'b': 6, 'C': 7}])
A

     a  b    C
0  1.0  2  NaN
1  NaN  3  4.0
2  5.0  6  7.0

Fill Missing Velues

In [39]:
A.fillna(0)

     a  b    C
0  1.0  2  0.0
1  0.0  3  4.0
2  5.0  6  7.0

Drop Missing Value

In [40]:
A.dropna()

     a  b    C
2  5.0  6  7.0

#### Indexing confusion

In [42]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [45]:
data[1]

'a'

In [46]:
data[1:3]

3    b
5    c
dtype: object

Explicit index (loc)

In [48]:
data.loc[1:3]

1    a
3    b
dtype: object

Implicit index (iloc)

In [49]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [51]:
D

    marks  grades
A      85     4.0
A-     80     3.5
B      65     2.0
B-     70     2.5

In [52]:
D.iloc[2,:]

marks     65.0
grades     2.0
Name: B, dtype: float64

# csv files