# Pandas

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Print Pandas version

In [6]:
print(pd.__version__)

2.2.3

In [7]:
A = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

Call the values

In [8]:
A.values

array([0.25, 0.5 , 0.75, 1.  ])

Call the index

In [9]:
A.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Pandas uses NumPy

In [10]:
type(A.values)

numpy.ndarray

Access a value using the index

In [13]:
A['c']

np.float64(0.75)

### Slicing

In [14]:
A['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [15]:
grades_dict = {'A': 4,'A-': 3.5,'B': 3,'B-': 2.5,'B': 2}
grades = pd.Series(grades_dict)

In [16]:
grades

A     4.0
A-    3.5
B     2.0
B-    2.5
dtype: float64

In [17]:
marks_dict = {'A': 85,'A-':80,'B':75,'B-':70,'B': 65}
marks = pd.Series(marks_dict)

In [18]:
marks

A     85
A-    80
B     65
B-    70
dtype: int64

# Dataflare

In [22]:
marks

A     85
A-    80
B     65
B-    70
dtype: int64

In [19]:
grades

A     4.0
A-    3.5
B     2.0
B-    2.5
dtype: float64

In [23]:
D = pd.DataFrame({'marks': marks, 'grades': grades})
D

    marks  grades
A      85     4.0
A-     80     3.5
B      65     2.0
B-     70     2.5

transpose dataframe

In [26]:
D.T

           A    A-     B    B-
marks   85.0  80.0  65.0  70.0
grades   4.0   3.5   2.0   2.5

In [27]:
D

    marks  grades
A      85     4.0
A-     80     3.5
B      65     2.0
B-     70     2.5

In [28]:
D.values

array([[85. ,  4. ],
       [80. ,  3.5],
       [65. ,  2. ],
       [70. ,  2.5]])

Accessing specific values of the data frame.

In [29]:
D.values[2,0]

np.float64(65.0)

In [30]:
D.columns

Index(['marks', 'grades'], dtype='object')

In [31]:
D.index

Index(['A', 'A-', 'B', 'B-'], dtype='object')

Adding another column

In [32]:
D

    marks  grades
A      85     4.0
A-     80     3.5
B      65     2.0
B-     70     2.5

In [38]:
D['ScaledMarks'] = D['marks'] / 10
D

    marks  grades  ScaledMarks
A      85     4.0          8.5
A-     80     3.5          8.0
B      65     2.0          6.5
B-     70     2.5          7.0

Deleting a column

In [39]:
del D['ScaledMarks']
D

    marks  grades
A      85     4.0
A-     80     3.5
B      65     2.0
B-     70     2.5

Pandas Indexing

In [40]:
G = D[D['marks'] > 70]
G

    marks  grades
A      85     4.0
A-     80     3.5