# Pandas Examples Notebook

This notebook demonstrates common operations and functionalities of the pandas library for data manipulation and analysis in Python.

## Import Required Libraries

Import pandas and other necessary libraries like numpy for data manipulation.

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Display version information
print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")

## Create a DataFrame

Demonstrate how to create a pandas DataFrame from a dictionary or list.

In [ ]:
# Method 1: Create DataFrame from a dictionary
data_dict = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 42],
    'City': ['New York', 'Boston', 'Chicago', 'Seattle'],
    'Salary': [65000, 72000, 58000, 93000]
}

df1 = pd.DataFrame(data_dict)
print("DataFrame from dictionary:")
display(df1)

# Method 2: Create DataFrame from a list of lists
data_list = [
    ['John', 28, 'New York', 65000],
    ['Anna', 34, 'Boston', 72000],
    ['Peter', 29, 'Chicago', 58000],
    ['Linda', 42, 'Seattle', 93000]
]

df2 = pd.DataFrame(data_list, columns=['Name', 'Age', 'City', 'Salary'])
print("\nDataFrame from list:")
display(df2)

## Read Data from a CSV File

Show how to read data from a CSV file into a pandas DataFrame using read_csv().

In [ ]:
# Let's first create a sample CSV file
df1.to_csv('sample_data.csv', index=False)

# Now let's read it back
df_from_csv = pd.read_csv('sample_data.csv')
print("DataFrame read from CSV:")
display(df_from_csv)

# Reading with specific options
df_with_options = pd.read_csv('sample_data.csv', 
                              na_values=['NA', 'N/A', 'Missing'],  # Values to treat as NaN
                              dtype={'Age': 'int32', 'Salary': 'float'},  # Column data types
                              nrows=3)  # Read only first 3 rows

print("\nDataFrame read with specific options:")
display(df_with_options)

## DataFrame Operations

Perform basic operations like adding, renaming, or dropping columns, and modifying data.

In [ ]:
# Start with our original DataFrame
df = df1.copy()
print("Original DataFrame:")
display(df)

# Add a new column
df['Experience'] = [3, 8, 4, 12]
print("\nAfter adding 'Experience' column:")
display(df)

# Add a calculated column
df['Salary_per_year_experience'] = df['Salary'] / df['Experience']
print("\nAfter adding calculated column:")
display(df)

# Rename columns
df = df.rename(columns={'Salary': 'Annual_Salary', 'City': 'Location'})
print("\nAfter renaming columns:")
display(df)

# Drop a column
df = df.drop('Salary_per_year_experience', axis=1)
print("\nAfter dropping column:")
display(df)

# Modify values
df.loc[df['Name'] == 'John', 'Experience'] = 5
print("\nAfter modifying John's experience:")
display(df)

## Filtering and Querying Data

Use conditional filtering and query() to extract specific rows from the DataFrame.

In [ ]:
# Start with our modified DataFrame
print("Current DataFrame:")
display(df)

# Basic filtering with boolean masks
high_salary = df[df['Annual_Salary'] > 70000]
print("\nEmployees with salary over 70000:")
display(high_salary)

# Multiple conditions
young_high_earners = df[(df['Age'] < 35) & (df['Annual_Salary'] > 60000)]
print("\nEmployees under 35 with salary over 60000:")
display(young_high_earners)

# Using query method
experienced_employees = df.query("Experience > 5")
print("\nEmployees with more than 5 years of experience:")
display(experienced_employees)

# Filtering with string methods
boston_employees = df[df['Location'].str.contains('Boston')]
print("\nEmployees in Boston:")
display(boston_employees)

# Getting unique values
unique_locations = df['Location'].unique()
print("\nUnique locations:", unique_locations)

## Group By and Aggregations

Demonstrate groupby() and aggregation functions like sum(), mean(), and count().

In [ ]:
# First, let's create a larger dataset for better demonstration
data = {
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'Marketing'],
    'Employee': ['John', 'Anna', 'Peter', 'Linda', 'Bob', 'Sarah', 'Michael', 'Emma'],
    'Salary': [65000, 72000, 58000, 93000, 69000, 82000, 75000, 67000],
    'Years': [3, 8, 4, 12, 5, 9, 6, 4],
    'Projects': [5, 3, 4, 7, 2, 5, 6, 3]
}

df_department = pd.DataFrame(data)
print("Department DataFrame:")
display(df_department)

# Group by Department and calculate mean
dept_avg = df_department.groupby('Department').mean()
print("\nAverage metrics by department:")
display(dept_avg)

# Group by Department and calculate multiple aggregations
dept_stats = df_department.groupby('Department').agg({
    'Salary': ['mean', 'min', 'max', 'sum'],
    'Projects': ['mean', 'sum'],
    'Years': ['mean', 'max']
})
print("\nMultiple aggregations by department:")
display(dept_stats)

# Count employees by department
dept_count = df_department.groupby('Department').size()
print("\nNumber of employees by department:")
display(dept_count)

# Group by multiple columns
multi_group = df_department.groupby(['Department', 
                                     pd.cut(df_department['Years'], bins=[0, 5, 10, 15], 
                                            labels=['Junior', 'Mid', 'Senior'])
                                    ]).mean()
print("\nMetrics by department and experience level:")
display(multi_group)

## Export Data to a CSV File

Show how to export a DataFrame to a CSV file using to_csv().

In [ ]:
# Basic export to CSV
df_department.to_csv('department_data.csv', index=False)
print("Basic CSV export completed to: 'department_data.csv'")

# Export with specific options
dept_stats.to_csv('department_stats.csv',
                 float_format='%.2f',  # Format floats to 2 decimal places
                 encoding='utf-8',     # Specify encoding
                 date_format='%Y-%m-%d')  # Format for date columns if any
print("Detailed statistics export completed to: 'department_stats.csv'")

# Export specific columns
df_department[['Department', 'Employee', 'Salary']].to_csv(
    'employee_salaries.csv', index=False)
print("Filtered columns export completed to: 'employee_salaries.csv'")

# Export to Excel instead of CSV (if openpyxl is installed)
try:
    df_department.to_excel('department_data.xlsx', sheet_name='Employees', index=False)
    print("Excel export completed to: 'department_data.xlsx'")
except ImportError:
    print("Excel export requires openpyxl. Install with: pip install openpyxl")

## Summary

In this notebook, we've covered the basics of pandas:

1. Creating DataFrames
2. Reading data from CSV files
3. Performing basic DataFrame operations
4. Filtering and querying data
5. Using groupby and aggregations
6. Exporting data to CSV files

These operations form the foundation of data manipulation with pandas and can be combined in many ways to handle complex data tasks.